// ------> Footer <------

footer {
    text-align: center;
    padding: 2rem;
    a {
        color: rgb(67, 227, 255);
    }

    .reseauxS {
        i{
            color: rgb(67, 227, 255);
            font-size: 2rem;
            margin: 1rem;
        }
    }
}